
/* GENERAL */
body {
    background-color: #8afde8 !important;
}

/* LOGIN & REGISTER FORM */

.form-container {
    width: 550px;
    margin: auto;
}

.form-header {
    width: 100%;
    padding: 1em;
}

.form-login {
    padding: 0.5em;
    width: 100%;
}

.form-login input[type="text"], .form-login input[type="password"] {
    background: #31aff5;
    color: #ffffff;
    border-radius: 15px;
    text-align: center;
    height: 48px;
    font-size: 150%;
    width: 100%;
}

/* INPUTS */

input::placeholder {
    text-align: center;
    color: #ffffff !important;
    font-size: 100%;
}

/* CARS */

.car {
    background: #ffffff;
    border: 5px solid #021836;
    border-radius: 30px;
    padding: 0.3em;
    margin: 2em;
    width: 90%;
    -webkit-box-shadow: inset 2px 2px 24px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 2px 2px 24px -5px rgba(66, 68, 90, 1);
    box-shadow: inset 2px 2px 24px -5px rgba(66, 68, 90, 1);
}

.fa-coins {
    color: #ffd800 !important;
    font-size: 2em;
}

.fa-user {
    color: #b3fff7 !important;
    font-size: 1.2em;
}

// edycja uzytkownika, zabezpieczenia gdzie moze wejsc uzytkownik, wyswietlanie uzytkownikowi jakie samochody wypozyczyl, odejmowanie kasy