body {
    background-color: #8afde8 !important;
}

.form-container {
    width: 550px;
    margin: auto;
}

.form-header {
    width: 100%;
    padding: 1em;
}

.form-login {
    padding: 0.5em;
    width: 100%;
}

.form-login input[type="text"], .form-login input[type="password"] {
    background: #31aff5;
    color: #ffffff;
    border-radius: 15px;
    text-align: center;
    height: 48px;
    font-size: 150%;
    width: 100%;
}

input::placeholder {
    text-align: center;
    color: #ffffff !important;
    font-size: 100%;
}
